<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <script>
      function getRepo(scope){
        event.preventDefault()

        let repo = document.getElementById("repoSearch").value
        let new_url = '{{ url_for('show_repo', repo_name=repo) }}'.concat(repo)
        document.getElementById("loading").removeAttribute("hidden")
        window.location.href = new_url
        document.getElementById("loading").setAttribute("hidden")
      }
    </script>
    
    <title>Flask Example</title>
</head>
<body>
    <nav class="navbar navbar-light" style="background-color: #d8d8d8;">
        <div class="container-fluid">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
          </ol>
          <form class="d-flex" id="form" onsubmit="return getRepo()">
            <input class="form-control me-2" type="text" placeholder="Search Repo" aria-label="Search" id="repoSearch" value="">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <div id="loading" hidden>
        <div class="d-flex justify-content-center" style="margin-top: 4em;">
          <div id="loader" class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
        </div>
        <p id="load_text" style="text-align: center; margin-top: 1em;">Loading...</p>
        <p id="load_text" style="text-align: center; margin-top: 1em;">This may take a few minutes, depending on the number of contributors to the repo and the number of commits that each user has made to all repos.</p>
        <hr>
      </div>

      <div class="container" style="margin-top: 2em; margin-bottom: 4em;">
        <h1 class="display-4">
          Measuring Software Engineering
        </h1>
        <hr>
        <h3 style="margin-top: 1em; margin-bottom: 1em;">
          Do top contributors spread their time across languages, or do they focus in on one language?
        </h3>
        <p>
          The point of this app is to visualise the language usage of contributors to a Github repo of your choosing.
          This is done by fetching data from the Github API v3, specifically using the "Events" API for getting a user's commits over the last <b>90 days</b>,
          and from there checking the file extension of each file they have committed.
          <br/>
          This data is collected for the <b>top 5 contributors</b> to the repo you have chosen.
          It should be noted that, although the information is fetched and displayed by repository name, 
          the information shown is taken from across <b>all repositories</b> committed to by each of the users.
        </p>
        <p style="margin-bottom: 2em;">
          The goal with showing this information is to make it apparent if top contributors achieve this level of impact by 
          making use of a lot of different languages with different strengths, or if they prefer to focus in on one language 
          and hone their skills in order to be more impactful in that way.
          Essentially, this is a question of <b>depth vs range</b> of language usage in order to assess which appears to be more impactful. 
        </p>
        <hr>
        <h3 style="margin-top: 1em; margin-bottom: 1em;">
          Notes on known issues:
        </h3>
        <p>
          The Github API does not seem to allow fetching of contributors in repos with a very large number of contributors, 
          such as the "torvalds/linux" repo. This prevents me from showing data for the top contributors to repos of that size.
        </p>
        <p>
          A few popular public repos which I have tested and can recommend, along with estimates of how long it takes to load up and visualise their data, are:
            <ul>
              <li>twbs/bootstrap - 4 mins 20 secs</li>
              <li>d3/d3 - 1 min 30 secs</li>
              <li>facebook/react - 3 mins 15 secs</li>
              <li>python/cpython - 4 mins 45 secs</li>
              <li>microsoft/vscode - 7 mins 50 secs
                <ul>
                  <li>(I realise this one is a very long wait, but the results have information for all of the top 5 contirbutors and are quite interesting, which is why I have included it here)</li>
                </ul>
              </li>
            </ul>
        </p>
      </div>
      
</body>